@import "tailwindcss";

:root {
  color-scheme: dark;
  --light-black: hsl(0,0%,20%);
}

*{
    transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

body {
  background-color: hsl(0, 0%, 10%);
  color: white;
  font-family: "Poppins";
}
